.blog-post-card{ background-color: white; 
width: 600px;
text-align: center; 
border-radius: 14px;
}
.post-content{
  padding: 20px 60px;
}
.post-img{width: 600px; 
border-bottom: 2px solid;
}
.read-more{ color: brown;
background-color: beige;
margin: 10px;
padding: 8px 16px;
border-radius: 5px;
display: inline-block;
text-decoration: none;}
.read-more:hover{ background-color: pink; }
body{ background-color: beige;
font-family: Arial;
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
overflow: hidden;
}
html{ height: 100%;
     width: 100%; 
    }
.post-title{margin: 10px; 
color: brown;}
.post-excerpt{ margin: 10px;
color: green;
}

